*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Lato", sans-serif;
  color: #565656;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h2 {
  margin: 0;
}

.title-holder {
  padding: 75px 0 65px;
}

.subtitle {
  font-family: "Lato", sans-serif;
  letter-spacing: 8px;
  padding: 0 0 48px;
  color: black;
}

.picture-holder--title {
  padding: 0 0 130px;
}

.picture-holder {
  padding: 0 0 45px;
}

.title {
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;
}
@media (max-width: 769px) {
  .title {
    font-size: 33px;
  }
}

.content__heading {
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  color: black;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 0 0 40px;
}

.content__text-short {
  letter-spacing: 1.5px;
  max-width: 545px;
  padding: 0 0 150px;
  line-height: 35px;
}
@media (max-width: 769px) {
  .content__text-short {
    max-width: 768px;
  }
}

.content__text {
  letter-spacing: 1.5px;
  padding: 0 0 150px;
  line-height: 32px;
}

p {
  padding: 0 0 10px;
}