*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
}

body{
  font-family: 'Lato', sans-serif;
  color: #565656;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h2 {
  margin: 0;
}