.title-holder {
  padding: 75px 0 65px;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  letter-spacing: 8px;
  padding: 0 0 48px;
  color: black;
}

.picture-holder--title{
  padding: 0 0 130px;
}

.picture-holder{
  padding: 0 0 45px;
}

.title{
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
  color: black;

  @include breakpoint('md'){
    font-size: 33px;
  }
}

.content__heading{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 23px;
  color: black;
  letter-spacing: 3px;
  font-weight: 400;
  padding: 0 0 40px;
}

.content__text-short {
  letter-spacing: 1.5px;
  max-width: 545px;
  padding: 0 0 150px;
  line-height: 35px;

  @include breakpoint('md'){
    max-width: 768px;
  }
}

.content__text {
  letter-spacing: 1.5px;
  padding: 0 0 150px;
  line-height: 32px;
}

p{
  padding: 0 0 10px;
}